@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Freshbooks</h1>
    <p>
        Ir al listado de contactos
    </p>
    <p class="mb-3">
        <a class="btn btn-primary mb-3" role="button" asp-controller="Contacts" asp-action="Index">
            Contactos
        </a>
    </p>
</div>
