@{
    ViewData["Title"] = "403";
}

<div id="message-container" class="row">
    <div class="col-12 text-danger fw-bolder text-center align-self-center">
        <h1>
            4<i class="fas fa-ban"></i>3
        </h1>
        <h2 class="mb-md-5">
            Lo sentimos, pero no tiene acceso a esta página o recurso.
        </h2>
        <h4 class="mb-md-5">
            <a class="btn btn-primary btn-lg active" role="button" asp-controller="Home" asp-action="Index">
                Volver al Inicio
            </a>
            <a href="javascript:history.back()" class="btn btn-primary btn-lg active" role="button">
                Atrás
            </a>
        </h4>
    </div>
</div>
@section Styles{
    <style>
        h1 {
            font-size: 10rem;
        }

        #message-container {
            min-height: 720px;
        }
    </style>
}
